# npm registry
registry = https://registry.npmmirror.com
# sass
sass_binary_site = https://npmmirror.com/mirrors/node-sass/
# puppeteer
puppeteer_download_host = https://npmmirror.com/mirrors
# electron
electron_mirror = https://npmmirror.com/mirrors/electron/
